// COLOR VARIABLES
$color-primary-red: hsl(0, 100%, 74%);
$color-primary-green: hsl(154, 59%, 51%);

$color-accent-blue: hsl(248, 32%, 49%);

$color-neutral-dark-blue: hsl(249, 10%, 26%);
$color-neutral-grayish-blue: hsl(246, 25%, 77%);

// FONT VARIABLES
$font-primary: "Poppins", sans-serif;

// RESPONSIVE BREAKSPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px

  @media only screen and(max-width:$bp-largest) {
    font-size: 50%; // 1rem = 10px
  }
}

body {
  font-family: $font-primary;
  background-image: url(../img/bg-intro-desktop.png);
  background-color: $color-primary-red;
  background-size: cover;
  font-size: 1.6rem;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(56.5rem, 1fr));
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.header {
  color: #fff;
  padding: 5rem;
  max-width: 70rem;
  @media only screen and(max-width:56.4em) {
    text-align: center;
  }

  &__heading-1 {
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 2rem;

    @media only screen and(max-width:25em) {
      font-size: 3.5rem;
    }

    @media only screen and(max-width:21.875em) {
      max-width: 80vw;
      margin: 0 auto;
    }
  }

  &__text {
    @media only screen and(max-width:25em) {
      width: 40rem;
      margin: 0 auto;
    }

    @media only screen and(max-width:21.875em) {
      max-width: 80vw;
      margin: 0 auto;
    }
  }
}

.main {
  display: grid;
  row-gap: 2rem;
  justify-items: center;
}

.pricing {
  color: #fff;
  background-color: $color-accent-blue;
  padding: 1.5rem 4rem;
  border-radius: 1rem;
  box-shadow: 0 0.7rem rgba(0, 0, 0, 0.1);
  text-align: center;

  &__free {
    font-weight: 800;
  }

  @media only screen and(max-width:21.875em) {
    max-width: 80vw;
  }
}

.form {
  background-color: #fff;
  padding: 4rem;
  border-radius: 1rem;
  display: grid;
  box-shadow: 0 1rem rgba(0, 0, 0, 0.1);
  row-gap: 1rem;

  @media only screen and(max-width:21.875em) {
    max-width: 80vw;
  }

  &__group {
    border-radius: 1rem;
    position: relative;
  }

  &__input {
    height: 5rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid $color-neutral-grayish-blue;
    padding: 2rem;
    font-family: inherit;

    &:focus {
      border: 2px solid $color-neutral-dark-blue;
      outline: none;
      font-weight: 500;
    }

    &:focus:invalid {
      border: 2px solid $color-primary-red;
      outline: none;
    }
  }

  &__input:focus:invalid &__btn:active {
    background-color: red;
  }

  &__error {
    color: $color-primary-red;
    font-size: 1rem;
    font-style: italic;
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    margin-top: 3px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s;

    &--active {
      visibility: visible;
      opacity: 1;
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: $color-primary-red;
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s;

    &--active {
      visibility: visible;
      opacity: 1;
    }
  }

  &__btn {
    font-family: inherit;
    font-size: inherit;
    color: #fff;
    background-color: $color-primary-green;
    border: none;
    height: 5.5rem;
    border-radius: 5px;
    box-shadow: 0 0.5rem rgba(0, 0, 0, 0.1);
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    backface-visibility: hidden;
    transition: all 0.2s;

    &--active {
      background-color: hsl(154, 59%, 61%);
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__policy {
    font-size: 1rem;
    color: $color-neutral-grayish-blue;
    text-align: center;
    margin-top: 1rem;
  }

  &__term {
    color: $color-primary-red;
  }
}
